<div id="home">
  <h1>Developing SASS Applications from Concept to MVP to Launch</h1>

  <div class="apps">
    <%= image_tag "apps/1.jpeg" %>
    <%= image_tag "apps/2.png" %>
    <%= image_tag "apps/3.jpg" %>
    <%= image_tag "apps/4.jpeg" %>
    <%= image_tag "apps/5.png" %>
    <%= image_tag "apps/6.jpg" %>
  </div>
</div>