<section id="techs-used">
  <h2 class="text-center italic">Transforming Ideas into Powerful Software Solutions</h2>
  <div id="techs-wrapper">
    <div id="techs">
      <%= 3.times do %>
        <%= image_tag "tech/ruby.png", alt: "ruby" %>
        <%= image_tag "tech/bun.svg", alt: "bun" %>
        <%= image_tag "tech/linux.png", alt: "bun" %>
        <%= image_tag "tech/react.png", alt: "react" %>
        <%= image_tag "tech/rails.png", alt: "rails" %>
        <%= image_tag "tech/ruby.png", alt: "ruby" %>
        <%= image_tag "tech/js.png", alt: "js" %>
        <%= image_tag "tech/postgres.png", alt: "js" %>
        <%= image_tag "tech/ember.svg", alt: "ember" %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center">
    <button onclick="window.location.href='#contact'">Get Started</button>
  </div>
</section>
