<%= render partial: 'home/index/navbar' %>

<div id="sections">
  <%= render partial: 'home/index/home' %>
  <%= render partial: 'home/index/techs' %>
  <%= render partial: 'home/index/contact' %>
</div>

<div id="footer">
  <p><%= Time.current.year %> Copyright Million Web Inc</p>
</div>